@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F172A;
  --primary: #ffffff;
  --secondary: #4F46E5;
  --secondary-hover: #6366F1;
  --font-special-gothic: "Special Gothic Expanded One", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0F172A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}
